<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src='https://www.google.com/recaptcha/api.js?hl=fa'></script>
    <title>Tiphub/DjangoRecaptcha</title>


</head>
<body>


<section class="vh-100" style="background-color: #508bfc;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        {% for field in form %}
                            {% if field.errors %}
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{ field.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}

                        <form method="post" action="">
                            {% csrf_token %}

                            <h3 class="mb-5">Sign in</h3>

                            <div class="form-outline mb-4">
                                {{ form.email }}
                            </div>

                            <div class="form-outline mb-4">
                                {{ form.password }}
                            </div>
                            <div class="form-outline mb-4">
                                {{ form.captcha }}
                            </div>


                            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                        </form>

                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


</body>
</html>